#d{
    background-color:aqua;
    display:inline;
}
button{
    background-color:pink;
    display:block;
}
#d1{
    height:100px;
    width:100px;
    background-color:red;
    margin:25px;
    padding:25px;
    display:inline;
    display:none;
}
#d2{
    height:100px;
    width:100px;
    background-color:blue;
    margin:25px;
    padding:25px;
    display:inline;
}
#d3{
    height:100px;
    width:100px;
    background-color:green;
    margin:25px;
    padding:25px;
    display:inline-block;
    visibility:hidden;
}
#d4{
    height:100px;
    width:100px;
    background-color:yellow;
    margin:25px;
    padding:25px;
    display:inline-block;
}

