div{
    height:150px;
    width:150px;
    color:red;
    text-align:center;
    background-image:url("/css\ tutorial/stadium.jpg");
    background-size:cover;
    position:fixed;
    bottom:0px;
    right:0px;
}
